# Copy this to .env and fill in your keys
CRUSOE_API_KEY=2ZqLAydsS8irjNA1AuhDPQ$2a$10$KSLIL0McdKpiVRWgbJAABOkEjyJN.QIkBRqtOi7Oc0KJcdb53G32u
QWEN_MODEL=NVFP4/Qwen3-235B-A22B-Instruct-2507-FP4
PAID_API_KEY=15f94490-6ed3-487b-9ae3-466b611c3b17
